/* Reset and Global Styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    line-height: 1.6;
    background-color: #222222;
    color: #fff; /* Set text color to white */
}

/* Header Styles */
header {
    background-color: #007BFF;
    color: #fff; /* Header text color is already white */
    text-align: center;
    padding: 30px 0; /* Smaller banner */
    box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.3);
}

.header-content {
    max-width: 800px;
    margin: 0 auto;
}

.header-content h1 {
    font-size: 36px; /* Slightly smaller title */
    margin-bottom: 20px;
}

.header-content h2 {
    font-size: 24px; /* Set the subtitle text color to white */
    margin-top: 20px;
    margin-bottom: 30px;
    color: #fff; /* Set the subtitle text color to white */
}

/* Main Content Styles */
.main {
    padding: 20px;
}

.voice-input {
    text-align: center;
}

.voice-input h3,
.voice-input h5 {
    color: #fff; /* Set the text color to white */
}

.microphone {
    width: 100px;
    height: 100px;
    background-color: #007BFF;
    border-radius: 50%;
    margin: 0 auto 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    font-size: 36px;
    cursor: pointer;
    transition: background-color 0.3s, transform 0.3s;
}

.microphone:hover {
    background-color: #0056b3;
    transform: scale(1.1);
}

#output-text {
    font-size: 20px;
    margin-top: 20px;
}

/* Footer Styles */
footer {
    text-align: center;
    background-color: #333;
    color: #fff;
    padding: 40px 0;
}

.footer-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1200px;
    margin: 0 auto;
}
